#container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

#banner,
#add-form {
  padding: 20px;
  background-color: #121212;
  color: white;
  text-align: center;
}


#banner h1 {
  font-size: 5rem;
}

#banner svg{
  color: white;
  font-size: 1.5rem;
  display: block;
  margin-left: auto;
}

#add-form input,
select {
  width: 200px;
  padding: 10px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: 25px;
  margin-right: 15px;
}

option {
  color: black;
}
#add-form input:focus {
  border: 1px solid white;
  outline: none;
}
#add-form button {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

#table-container,
#reciepe-container {
  max-width: 950px;
  width: 100%;
  padding: 30px 0px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

table {
  border: 1px solid black;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
}

tr,
td,
th {
  border: 1px solid black;
  padding: 10px;
}

th {
  background-color: black;
  color: white;
  text-align: left;
  border-right: 1px solid white;
  text-transform: capitalize;
}
td {
  width: fit-content;
}
thead {
  border-radius: 10px 10px 0px 0px;
}

td button {
  margin: auto;
  text-align: center;
}

td option{
  width: 150px;
  color: white;
}

td select#delete{
  width: 140px;
}
/* ===== Food Card ===== */
#card {
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
  /* border: 1px solid;
    padding: 5px; */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

#card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  /* border-radius: 10px; */
}

#card #card-details {
  padding: 10px;
}

#card #btn-holder {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#btn-holder button,
#banner button {
  width: fit-content;
  padding: 10px;
  border: none;
  border-radius: 8px;
  color: white;
}

#edit {
  background-color: rgb(255, 128, 0);
}

#delete {
  background-color: #121212;
  padding: 10px;
  border: 0px;
  border-radius: 8px;
  color: white;
}

/* ===== cart component */

#cart-container {
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 10px;
}

#cart-container button {
  padding: 10px;
  color: white;
  border-radius: 10px;
  width: fit-content;
  border: none;
}
#cart-component {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid; */
  padding: 10px;
}

#cart-component #food-details {
  width: 200px;
}
#cart-component img {
  height: 100px;
  border-radius: 10px;
}

#cart-component #operation {
  display: flex;
  padding: 10px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 200px;
}

#operation svg {
  font-size: 25px;
}

#cart-component #price {
  width: 200px;
  text-align: right;
}
#total-price {
  width: 100%;
  padding: 10px;
  border-top: 1px solid;
  text-align: right;
  text-transform: capitalize;
}

#total-price h1 {
  margin-bottom: 15px;
}

#btn-holder {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* ==== modal */

#modal {
  /* width: 250px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgba(255, 255, 255, 0.404);
  backdrop-filter: blur(25px);
  padding: 20px;
  border-radius: 10px;
}

.display {
  display: block;
}

.hidden {
  display: none;
}

#modal svg {
  display: block;
  margin-left: auto;
  margin-bottom: 15px;
  font-size: 25px;
}

#page {
  width: 100%;
  height: 100%;
  display: flex;
}

#tile {
  padding: 40px 10px;
  border: 1px solid;
  width: 350px;
  text-align: center;
  border-radius: 8px;
}

#tile h1 {
  font-size: 2.8rem;
}

#tile-btn{
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;

  padding-left: 20px;
}
 
#tile-btn #delete{
  width: 100%;
}
#tile-btn option{
  text-align: center;
  color: white;
  width: 100%;
}